<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}	
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.rtl.min.css" integrity="sha384-dc2NSrAXbAkjrdm9IYrX10fQq9SDG6Vjz7nQVKdKcJl3pC+k37e7qJR5MVSCS+wR" crossorigin="anonymous">
    <title>SDA Society</title>
    <style>.btn-secondary {
        color: #fff;
        background-color: #563d7c;
        border-color: #563d7c;
    }</style>
</head>
<body>
    <!-- ========== Start Navbar ========== -->
    <div class="navbar sticky-top navbar navbar-expand-xs navbar-dark navbar-rounded shadow p-2 px-4 " style="background: #181149;">
        <div class="d-flex row " style="align-items:center;">
            <img class="col-4" src="{% static '/logo-removebg-preview.png' %}" width="90" alt="" >
            <h1 class="col-4 text-light" style="font-family:cairo;">Society</h1>
        </div>
        <div class="col-4">
            <ul class="nav">
                <li class="nav-item col-4">
                    <a class="nav-link active text-light" href="home_student">Home</a>
                </li>
            </ul> 
        </div>
        <div class="col-4">
            <div class="d-flex justify-content-evenly">
                <a class="nav-link text-light" href="/profile">{{student.fname}}'s Profile</a>
                <a href="/logout" class="btn btn-outline-light btn-sm">Logout</a>
            </div>
        </div>
    </div>
    <!-- ========== End Navbar ========== -->
    
    <!-- ========== Start information of student ========== -->
    <div class="d-flex justify-content-md-end ">
    </div>
    <section class="vh-100" style="background-color: #eee;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-12 col-xl-4">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body text-center">
                            <a class=" mb-4 d-flex justify-content-md-end" href="/go_edit_profile"><img src="{% static '/pencil.png' %}" width="20px" alt="Edit"> </a>
                            <div class="mt-3 mb-4">
                                <img src="{% static '/user.png' %}"
                                class="rounded-circle img-fluid" style="width: 100px;" />
                            </div>
                            <h4 class="mb-2">{{student.fname}} {{student.lname}}</h4>
                            <p class="text-muted mb-4">{{student.bootcamp.title}}
                                <p class="text-black mb-4"> <strong>Email: </strong> {{student.email}}
                            <div class="mb-4 pb-2">
                                <span><strong>instructors:</strong> 
                                    {% for instructor in student.bootcamp.instructors.all %}
                                    {{instructor.name}},
                                </span>
                                    {% endfor %}
                            </div>
                            <div class="d-flex justify-content-center text-center mt-5 mb-2">
                                <div>
                                <p class="mb-2 h5 text-center">Project</p>
                                <p class="text-muted mb-0">{{student.projects.all|length}}</p>
                                </div>
                            </div>
                            <a class="btn btn-secondary " role="button" href="go_add_project">Add Project</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

<!-- ========== Start table of project ========== -->
    <div class="container ">
        <div class="my-5">
            <h4 class="my-4 d-flex justify-content-center" style="color: #2c2365;">Your Project </h4>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">URL</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                {%for project in student.projects.all %}
                <tr>
                    <td>{{project.title}}</td>
                    <td>{{project.desc}}</td>
                    <td>{{project.url}}</td>
                    <td> <a class="badge bg-danger text-wrap" href="/remove_project/{{project.id}}">Remove</a>  |
                        <a class="badge bg-secondary text-wrap" href="go_edit_project/{{project.id}}">Edit</a> 
                    </td>
                </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
<!-- ========== End table of project ========== -->



    <!-- ========== Start footer row2 ========== -->

    <footer class="bg-dark text-light p-2">
        <section id="contact" class="site-footer">
            <div class="container">
                <div class="row m-b-lg ">
                    <div class="col-lg-12 text-center">
                        <div class="navy-line"></div>
                        <h1 class="contact-us" style="font-family:cairo;">SDA Society</h1>
                    </div>
                </div>
                </div>
                <div class="row">
                    <div class=" col-lg-12 text-center m-t-lg m-b-lg ">
                        <p class="copy-right fw-lighter"><strong> Created by:</strong><br/> 
                            Sara Alghamdi <br/>
                            Aziza Alshahrani<br/>
                            Roaa Albishri <br/>
                            Samiah Albuqami<br/>
                            Ayman Alasiri<br/>
                        </p>
                    </div>
                </div>
            </div>
            <div class="blue-line"></div>
        </section>
    </footer>
    <!-- ========== End ========== -->
</body>
</html>